[submodule ".vim/vundle"]
	path = .vim/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".zsh.d/zsh-completions"]
	path = .zsh.d/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".zsh.d/zsh-notify"]
	path = .zsh.d/zsh-notify
	url = https://github.com/marzocchi/zsh-notify
