[submodule "dot.vim/vundle"]
	path = dot.vim/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "dot.zsh.d/zsh-completions"]
	path = dot.zsh.d/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "dot.zsh.d/zsh-notify"]
	path = dot.zsh.d/zsh-notify
	url = https://github.com/marzocchi/zsh-notify
