[user]
  email = kei.shiratsuchi@gmail.com
  name = kei-s
[color]
  ui = auto
[core]
  pager = lv -c
  excludesfile = ~/dotfiles/global.gitignore
[merge]
  tool = vimdiff
[alias]
  br = branch
  ci = commit -v
  co = checkout
  pr = pull --rebase
  ds = diff --staged
  dw = diff --word-diff
  lg = log --graph
  lp = log -p --stat
  lo = log --pretty=oneline
  st = status -sb
  cp = cherry-pick
  fo = fetch origin
  mergelog = "!$SHELL -c 'git --no-pager log --grep=\"Merge pull request\" origin/master | grep -v -E \"^(commit|Merge:|Author:|Date:| +Merge pull)\" | grep \"[^ ]\" | head -10 | sed \"s/\\[fi.*$//\" | sed \"s/^ */- /\"' __dummy__"
[push]
  default = tracking
[ghq]
  root = ~/src
