[submodule "dot.zsh.d/zsh-completions"]
	path = dot.zsh.d/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "dot.zsh.d/zsh-notify"]
	path = dot.zsh.d/zsh-notify
	url = https://github.com/marzocchi/zsh-notify
[submodule "dot.zsh.d/docker-zsh-completion"]
	path = dot.zsh.d/docker-zsh-completion
	url = https://github.com/felixr/docker-zsh-completion
