[user]
  email = kei-s@mbc.nifty.com
[color]
  ui = auto
[core]
  pager = lv -c
[alias]
  br = branch
  ci = commit -v
  co = checkout
  ds = diff --staged
  lg = log --graph
  lp = log -p --stat
  st = status
